# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
TestResults/

# Build artifacts
*.dll
*.pdb
*.cache
AssemblyInfo.cs
*.DotSettings.user

# JetBrider Rider / IntelliJ IDEA
.idea/
*.iml

# Roslyn Code Analysis
.editorconfig.DotSettings
Microsoft.CodeAnalysis.Workspace*

