@page "/allsubs"
@inject ISubmissionApiService ApiService

@if (Submissions != null)
{
    @foreach (var a in Submissions)
    {
        <h1>@a.FirstName</h1> <p>@a.SerialNumber</p>
    }
}
<p>No Forms</p>


@code {
    List<SubmissionDto>? Submissions { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Submissions = await ApiService.GetAllAsync();
    }

    
}