@page "/allsubs"
@inject ISubmissionRepository SubmissionRepo

@if (Submissions != null)
{
    @foreach (var a in Submissions)
    {
        <h1>@a.FirstName</h1> <p>@a.SerialCode</p>
    }
}
<p>No Forms</p>


@code {
    IEnumerable<Submission>? Submissions { get; set; }
    
    //Not really sure if I need to do this async or not...
    protected override async Task OnInitializedAsync()
    {
        Submissions = await SubmissionRepo.GetAllSubmissionsAsync();
    }

    
}