@inherits LayoutComponentBase

<ul class="nav justify-content-center navbar navbar-dark bg-dark">
    <li class="nav-item">
        <a class="nav-link text-primary" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary " href="/blog">Blog</a>
    </li>
</ul>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>